doctype html
html(lang="es")
	head
		title Global title
		meta(charset="utf-8")
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet")
	body
	block mycontent